<div class="card shadow" style="width: 18rem;">
    <img src="@Trail.Image" class="card-img-top" alt="@Trail.Name">
    <div class="card-body">
        // other markup omitted for brevity
        <button class="btn btn-primary" title="View" 
@onclick="@(() => OnSelected.InvokeAsync(Trail))">
            <i class="bi bi-binoculars"></i>
        </button>
    </div>
</div>
@code {
    [Parameter, EditorRequired]
    public Trail Trail { get; set; } = default!;
    [Parameter, EditorRequired]
    public EventCallback<Trail> OnSelected { get; set; }
}